<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Register</h1>
                    <h6>Please Register yourself..</h6>
                </div>
                
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Full Name</label>
                          <input type="text" class="form-control" id="exampleInputFullname" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
                          <input type="number" class="form-control" id="exampleInputNumber">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                          </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                      </form>
                      <a style="color: #fff; margin-top: 10px;" routerLink="/login"> Already Register? Click to Login!</a>
                
            </div>
        </div>
    </div>
</div>